@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.below-textcontainer {
    padding: 22px;

}

.heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.para {
    font-family: "Roboto";
    color: #9aa5b1;
    font-size: 15px;
    font-weight: bold;
}


.image1 {
    margin: 5px;
}

.video-container {
    height: 80px;
    width: 100px;
    margin: 7px;
    border-radius: 8px;
}